--
-- PostgreSQL database dump
--

\restrict d5cpiViu8XdNlyshbzrVuPSAoVa6EkzHHdVhcLorEIQ9RiE9x4ukEN7b7sefArA

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: attendance_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.attendance_status AS ENUM (
    'present',
    'absent',
    'late',
    'excused'
);


ALTER TYPE public.attendance_status OWNER TO postgres;

--
-- Name: course_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.course_status AS ENUM (
    'active',
    'inactive',
    'archived'
);


ALTER TYPE public.course_status OWNER TO postgres;

--
-- Name: enrollment_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enrollment_status AS ENUM (
    'enrolled',
    'completed',
    'dropped',
    'failed'
);


ALTER TYPE public.enrollment_status OWNER TO postgres;

--
-- Name: material_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.material_type AS ENUM (
    'lecture_material',
    'handout',
    'slides',
    'video',
    'assignment',
    'other'
);


ALTER TYPE public.material_type OWNER TO postgres;

--
-- Name: message_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.message_status AS ENUM (
    'sent',
    'delivered',
    'read'
);


ALTER TYPE public.message_status OWNER TO postgres;

--
-- Name: quiz_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.quiz_status AS ENUM (
    'draft',
    'published',
    'closed'
);


ALTER TYPE public.quiz_status OWNER TO postgres;

--
-- Name: session_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.session_status AS ENUM (
    'scheduled',
    'ongoing',
    'completed',
    'cancelled'
);


ALTER TYPE public.session_status OWNER TO postgres;

--
-- Name: user_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_type AS ENUM (
    'student',
    'teacher',
    'admin'
);


ALTER TYPE public.user_type OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin (
    admin_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    profile_image_url character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admin OWNER TO postgres;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    attendance_id integer NOT NULL,
    session_id integer NOT NULL,
    student_id character varying(20) NOT NULL,
    status public.attendance_status NOT NULL,
    recorded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    joined_at timestamp without time zone,
    left_at timestamp without time zone,
    duration_seconds integer,
    remarks text,
    CONSTRAINT valid_duration CHECK (((duration_seconds IS NULL) OR (duration_seconds >= 0))),
    CONSTRAINT valid_times CHECK (((left_at IS NULL) OR (joined_at IS NULL) OR (left_at >= joined_at)))
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendance_attendance_id_seq OWNER TO postgres;

--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_attendance_id_seq OWNED BY public.attendance.attendance_id;


--
-- Name: call_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.call_participants (
    participant_id integer NOT NULL,
    call_id integer NOT NULL,
    user_id character varying(255) NOT NULL,
    user_type character varying(50) NOT NULL,
    joined_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    left_at timestamp without time zone,
    is_audio_enabled boolean DEFAULT true,
    is_video_enabled boolean DEFAULT true
);


ALTER TABLE public.call_participants OWNER TO postgres;

--
-- Name: call_participants_participant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.call_participants_participant_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.call_participants_participant_id_seq OWNER TO postgres;

--
-- Name: call_participants_participant_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.call_participants_participant_id_seq OWNED BY public.call_participants.participant_id;


--
-- Name: chat_message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.chat_message (
    message_id integer NOT NULL,
    sender_id character varying(20) NOT NULL,
    sender_type public.user_type NOT NULL,
    receiver_id character varying(20) NOT NULL,
    receiver_type public.user_type NOT NULL,
    message_text text NOT NULL,
    status public.message_status DEFAULT 'sent'::public.message_status,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_read boolean DEFAULT false,
    read_at timestamp without time zone,
    file_name character varying(255),
    file_data bytea,
    file_size integer,
    file_type character varying(100),
    file_mime character varying(100),
    CONSTRAINT fk_receiver_exists CHECK (true),
    CONSTRAINT fk_sender_exists CHECK (true)
);


ALTER TABLE public.chat_message OWNER TO postgres;

--
-- Name: chat_message_message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.chat_message_message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.chat_message_message_id_seq OWNER TO postgres;

--
-- Name: chat_message_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.chat_message_message_id_seq OWNED BY public.chat_message.message_id;


--
-- Name: class_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_session (
    session_id integer NOT NULL,
    course_id character varying(20) NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone NOT NULL,
    meeting_room_id character varying(100),
    meeting_token character varying(100),
    is_private boolean DEFAULT false,
    recording_path character varying(500),
    recording_available boolean DEFAULT false,
    status public.session_status DEFAULT 'scheduled'::public.session_status,
    participants_count integer DEFAULT 0,
    materials text[],
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    started_at timestamp without time zone,
    ended_at timestamp without time zone,
    CONSTRAINT valid_session_times CHECK ((end_time > start_time))
);


ALTER TABLE public.class_session OWNER TO postgres;

--
-- Name: class_session_session_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.class_session_session_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.class_session_session_id_seq OWNER TO postgres;

--
-- Name: class_session_session_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.class_session_session_id_seq OWNED BY public.class_session.session_id;


--
-- Name: course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course (
    course_id character varying(20) NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    credit_hours integer NOT NULL,
    course_code character varying(20) NOT NULL,
    department character varying(100),
    teacher_id character varying(20) NOT NULL,
    semester integer,
    status public.course_status DEFAULT 'active'::public.course_status,
    max_students integer DEFAULT 50,
    syllabus_url character varying(500),
    schedule text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT course_credit_hours_check CHECK ((credit_hours > 0)),
    CONSTRAINT course_semester_check CHECK (((semester >= 1) AND (semester <= 8))),
    CONSTRAINT valid_teacher CHECK ((teacher_id IS NOT NULL))
);


ALTER TABLE public.course OWNER TO postgres;

--
-- Name: email_verification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    otp_code character varying(6) NOT NULL,
    role character varying(20) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_used boolean DEFAULT false
);


ALTER TABLE public.email_verification OWNER TO postgres;

--
-- Name: email_verification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.email_verification_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.email_verification_id_seq OWNER TO postgres;

--
-- Name: email_verification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.email_verification_id_seq OWNED BY public.email_verification.id;


--
-- Name: enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.enrollment (
    enrollment_id integer NOT NULL,
    student_id character varying(20) NOT NULL,
    course_id character varying(20) NOT NULL,
    enrolled_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true
);


ALTER TABLE public.enrollment OWNER TO postgres;

--
-- Name: enrollment_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.enrollment_enrollment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enrollment_enrollment_id_seq OWNER TO postgres;

--
-- Name: enrollment_enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.enrollment_enrollment_id_seq OWNED BY public.enrollment.enrollment_id;


--
-- Name: handout; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.handout (
    handout_id integer NOT NULL,
    session_id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text,
    summary text NOT NULL,
    key_points text[],
    keywords text[],
    file_path character varying(500),
    file_size integer,
    file_format character varying(10),
    generated_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    generated_by character varying(20),
    status character varying(20) DEFAULT 'generating'::character varying,
    reviewed_by character varying(20),
    reviewed_at timestamp without time zone,
    download_count integer DEFAULT 0
);


ALTER TABLE public.handout OWNER TO postgres;

--
-- Name: handout_handout_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.handout_handout_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.handout_handout_id_seq OWNER TO postgres;

--
-- Name: handout_handout_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.handout_handout_id_seq OWNED BY public.handout.handout_id;


--
-- Name: lecture_material; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lecture_material (
    material_id integer NOT NULL,
    course_id character varying(20) NOT NULL,
    session_id integer,
    title character varying(200) NOT NULL,
    description text,
    file_name character varying(255) NOT NULL,
    file_path character varying(1000) NOT NULL,
    file_size bigint,
    file_type character varying(50),
    material_type public.material_type DEFAULT 'lecture_material'::public.material_type,
    uploaded_by character varying(20) NOT NULL,
    uploaded_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_public boolean DEFAULT true,
    access_password character varying(100),
    folder_path character varying(500),
    tags text[],
    display_order integer DEFAULT 0,
    download_count integer DEFAULT 0,
    last_downloaded_at timestamp without time zone,
    view_count integer DEFAULT 0,
    last_viewed_at timestamp without time zone,
    is_active boolean DEFAULT true,
    storage_type character varying(20) DEFAULT 'local'::character varying,
    content_hash character varying(64),
    CONSTRAINT lecture_material_storage_type_check CHECK (((storage_type)::text = ANY ((ARRAY['local'::character varying, 's3'::character varying, 'gcs'::character varying, 'azure'::character varying])::text[]))),
    CONSTRAINT valid_display_order CHECK ((display_order >= 0)),
    CONSTRAINT valid_file_size CHECK ((file_size > 0))
);


ALTER TABLE public.lecture_material OWNER TO postgres;

--
-- Name: lecture_material_material_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.lecture_material_material_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lecture_material_material_id_seq OWNER TO postgres;

--
-- Name: lecture_material_material_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.lecture_material_material_id_seq OWNED BY public.lecture_material.material_id;


--
-- Name: material_download; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.material_download (
    download_id integer NOT NULL,
    material_id integer NOT NULL,
    student_id character varying(20) NOT NULL,
    downloaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    download_source character varying(50),
    ip_address inet
);


ALTER TABLE public.material_download OWNER TO postgres;

--
-- Name: material_download_download_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.material_download_download_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.material_download_download_id_seq OWNER TO postgres;

--
-- Name: material_download_download_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.material_download_download_id_seq OWNED BY public.material_download.download_id;


--
-- Name: message_threads; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.message_threads (
    thread_id integer NOT NULL,
    user1_id character varying(255) NOT NULL,
    user1_type character varying(50) NOT NULL,
    user2_id character varying(255) NOT NULL,
    user2_type character varying(50) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_message_id integer,
    last_message_at timestamp without time zone
);


ALTER TABLE public.message_threads OWNER TO postgres;

--
-- Name: message_threads_thread_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.message_threads_thread_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.message_threads_thread_id_seq OWNER TO postgres;

--
-- Name: message_threads_thread_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.message_threads_thread_id_seq OWNED BY public.message_threads.thread_id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.messages (
    message_id integer NOT NULL,
    sender_id character varying(255) NOT NULL,
    sender_type character varying(50) NOT NULL,
    receiver_id character varying(255) NOT NULL,
    receiver_type character varying(50) NOT NULL,
    content text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_read boolean DEFAULT false,
    read_at timestamp without time zone,
    message_type character varying(50) DEFAULT 'text'::character varying,
    file_url text,
    file_name character varying(255)
);


ALTER TABLE public.messages OWNER TO postgres;

--
-- Name: messages_message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.messages_message_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.messages_message_id_seq OWNER TO postgres;

--
-- Name: messages_message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.messages_message_id_seq OWNED BY public.messages.message_id;


--
-- Name: quiz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz (
    quiz_id integer NOT NULL,
    course_id character varying(20) NOT NULL,
    session_id integer,
    handout_id integer,
    title character varying(200) NOT NULL,
    description text,
    total_questions integer DEFAULT 10 NOT NULL,
    passing_score integer DEFAULT 70 NOT NULL,
    time_limit_minutes integer,
    max_attempts integer DEFAULT 1,
    status public.quiz_status DEFAULT 'draft'::public.quiz_status,
    access_from timestamp without time zone,
    access_until timestamp without time zone,
    generated_by_ai boolean DEFAULT true,
    generated_from_handout_id integer,
    generation_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    difficulty_level character varying(20),
    tags text[],
    is_randomized boolean DEFAULT true,
    CONSTRAINT quiz_difficulty_level_check CHECK (((difficulty_level)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[]))),
    CONSTRAINT valid_access_times CHECK (((access_until IS NULL) OR (access_from IS NULL) OR (access_until > access_from))),
    CONSTRAINT valid_max_attempts CHECK (((max_attempts IS NULL) OR (max_attempts > 0))),
    CONSTRAINT valid_passing_score CHECK (((passing_score >= 0) AND (passing_score <= 100))),
    CONSTRAINT valid_questions CHECK ((total_questions > 0)),
    CONSTRAINT valid_time_limit CHECK (((time_limit_minutes IS NULL) OR (time_limit_minutes > 0)))
);


ALTER TABLE public.quiz OWNER TO postgres;

--
-- Name: quiz_attempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_attempt (
    attempt_id integer NOT NULL,
    quiz_id integer NOT NULL,
    student_id character varying(20) NOT NULL,
    attempt_number integer DEFAULT 1,
    started_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone,
    time_taken_seconds integer,
    score numeric(5,2),
    percentage numeric(5,2),
    passed boolean,
    answers jsonb,
    CONSTRAINT valid_percentage CHECK (((percentage IS NULL) OR ((percentage >= (0)::numeric) AND (percentage <= (100)::numeric)))),
    CONSTRAINT valid_score CHECK ((score >= (0)::numeric)),
    CONSTRAINT valid_time CHECK (((time_taken_seconds IS NULL) OR (time_taken_seconds >= 0)))
);


ALTER TABLE public.quiz_attempt OWNER TO postgres;

--
-- Name: quiz_attempt_attempt_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quiz_attempt_attempt_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quiz_attempt_attempt_id_seq OWNER TO postgres;

--
-- Name: quiz_attempt_attempt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quiz_attempt_attempt_id_seq OWNED BY public.quiz_attempt.attempt_id;


--
-- Name: quiz_question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quiz_question (
    question_id integer NOT NULL,
    quiz_id integer NOT NULL,
    question_text text NOT NULL,
    question_type character varying(20) NOT NULL,
    options jsonb,
    correct_answer character varying(10),
    points integer DEFAULT 1,
    difficulty character varying(20),
    generated_from_text text,
    question_order integer,
    tags text[],
    CONSTRAINT quiz_question_difficulty_check CHECK (((difficulty)::text = ANY ((ARRAY['easy'::character varying, 'medium'::character varying, 'hard'::character varying])::text[]))),
    CONSTRAINT quiz_question_question_type_check CHECK (((question_type)::text = ANY ((ARRAY['multiple_choice'::character varying, 'true_false'::character varying, 'short_answer'::character varying])::text[])))
);


ALTER TABLE public.quiz_question OWNER TO postgres;

--
-- Name: quiz_question_question_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quiz_question_question_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quiz_question_question_id_seq OWNER TO postgres;

--
-- Name: quiz_question_question_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quiz_question_question_id_seq OWNED BY public.quiz_question.question_id;


--
-- Name: quiz_quiz_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.quiz_quiz_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quiz_quiz_id_seq OWNER TO postgres;

--
-- Name: quiz_quiz_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.quiz_quiz_id_seq OWNED BY public.quiz.quiz_id;


--
-- Name: security_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.security_logs (
    id integer NOT NULL,
    event_time timestamp with time zone DEFAULT now(),
    username text,
    action text,
    ip text,
    severity text,
    details jsonb
);


ALTER TABLE public.security_logs OWNER TO postgres;

--
-- Name: security_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.security_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.security_logs_id_seq OWNER TO postgres;

--
-- Name: security_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.security_logs_id_seq OWNED BY public.security_logs.id;


--
-- Name: student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student (
    student_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    semester integer,
    phone character varying(15),
    profile_image_url character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    email_verified boolean DEFAULT false,
    CONSTRAINT student_semester_check CHECK (((semester >= 1) AND (semester <= 8)))
);


ALTER TABLE public.student OWNER TO postgres;

--
-- Name: teacher; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teacher (
    teacher_id character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    department character varying(100),
    profile_image_url character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.teacher OWNER TO postgres;

--
-- Name: video_calls; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_calls (
    call_id integer NOT NULL,
    initiator_id character varying(255) NOT NULL,
    initiator_type character varying(50) NOT NULL,
    receiver_id character varying(255) NOT NULL,
    receiver_type character varying(50) NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    started_at timestamp without time zone,
    ended_at timestamp without time zone,
    duration_seconds integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    room_id character varying(255),
    is_group_call boolean DEFAULT false,
    muted_all boolean DEFAULT false
);


ALTER TABLE public.video_calls OWNER TO postgres;

--
-- Name: video_calls_call_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_calls_call_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_calls_call_id_seq OWNER TO postgres;

--
-- Name: video_calls_call_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_calls_call_id_seq OWNED BY public.video_calls.call_id;


--
-- Name: attendance attendance_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance ALTER COLUMN attendance_id SET DEFAULT nextval('public.attendance_attendance_id_seq'::regclass);


--
-- Name: call_participants participant_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_participants ALTER COLUMN participant_id SET DEFAULT nextval('public.call_participants_participant_id_seq'::regclass);


--
-- Name: chat_message message_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message ALTER COLUMN message_id SET DEFAULT nextval('public.chat_message_message_id_seq'::regclass);


--
-- Name: class_session session_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_session ALTER COLUMN session_id SET DEFAULT nextval('public.class_session_session_id_seq'::regclass);


--
-- Name: email_verification id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification ALTER COLUMN id SET DEFAULT nextval('public.email_verification_id_seq'::regclass);


--
-- Name: enrollment enrollment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollment ALTER COLUMN enrollment_id SET DEFAULT nextval('public.enrollment_enrollment_id_seq'::regclass);


--
-- Name: handout handout_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.handout ALTER COLUMN handout_id SET DEFAULT nextval('public.handout_handout_id_seq'::regclass);


--
-- Name: lecture_material material_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_material ALTER COLUMN material_id SET DEFAULT nextval('public.lecture_material_material_id_seq'::regclass);


--
-- Name: material_download download_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_download ALTER COLUMN download_id SET DEFAULT nextval('public.material_download_download_id_seq'::regclass);


--
-- Name: message_threads thread_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_threads ALTER COLUMN thread_id SET DEFAULT nextval('public.message_threads_thread_id_seq'::regclass);


--
-- Name: messages message_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages ALTER COLUMN message_id SET DEFAULT nextval('public.messages_message_id_seq'::regclass);


--
-- Name: quiz quiz_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz ALTER COLUMN quiz_id SET DEFAULT nextval('public.quiz_quiz_id_seq'::regclass);


--
-- Name: quiz_attempt attempt_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt ALTER COLUMN attempt_id SET DEFAULT nextval('public.quiz_attempt_attempt_id_seq'::regclass);


--
-- Name: quiz_question question_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_question ALTER COLUMN question_id SET DEFAULT nextval('public.quiz_question_question_id_seq'::regclass);


--
-- Name: security_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_logs ALTER COLUMN id SET DEFAULT nextval('public.security_logs_id_seq'::regclass);


--
-- Name: video_calls call_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_calls ALTER COLUMN call_id SET DEFAULT nextval('public.video_calls_call_id_seq'::regclass);


--
-- Data for Name: admin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admin (admin_id, name, email, password_hash, profile_image_url, created_at, updated_at) FROM stdin;
ADM20260131143347160	Minahil Shoaib	minahilshoaibb@gmail.com	$2b$12$IoSH7PlIWFE.j4Od87E2aOLu9mILcs/Fia0x4oGwEP9Qf4yibtAi2	\N	2026-01-31 14:33:47.314563	2026-01-31 14:33:47.314563
\.


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: call_participants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.call_participants (participant_id, call_id, user_id, user_type, joined_at, left_at, is_audio_enabled, is_video_enabled) FROM stdin;
\.


--
-- Data for Name: chat_message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: class_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: course; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: email_verification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: enrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.enrollment (enrollment_id, student_id, course_id, enrolled_at, is_active) FROM stdin;
1	STU20260124171608197	AI501-F24	2026-01-30 21:24:02.439042	t
2	STU20260124134740692	DB401-S25	2026-01-30 21:24:02.439042	t
3	STU20260124171608197	CS101-F24	2026-01-30 21:24:02.439042	t
4	STU20260124134740692	CS101-F24	2026-01-30 21:24:02.439042	t
5	STU-DE889492	CRS-F9995FA6	2026-02-13 10:53:59.74878	t
6	STU20260124171608197	CRS-F9995FA6	2026-02-14 23:10:16.309428	t
\.


--
-- Data for Name: handout; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.handout (handout_id, session_id, title, description, summary, key_points, keywords, file_path, file_size, file_format, generated_date, generated_by, status, reviewed_by, reviewed_at, download_count) FROM stdin;
\.


--
-- Data for Name: lecture_material; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: material_download; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.material_download (download_id, material_id, student_id, downloaded_at, download_source, ip_address) FROM stdin;
\.


--
-- Data for Name: message_threads; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.message_threads (thread_id, user1_id, user1_type, user2_id, user2_type, created_at, last_message_id, last_message_at) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.messages (message_id, sender_id, sender_type, receiver_id, receiver_type, content, created_at, is_read, read_at, message_type, file_url, file_name) FROM stdin;
\.


--
-- Data for Name: quiz; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz (quiz_id, course_id, session_id, handout_id, title, description, total_questions, passing_score, time_limit_minutes, max_attempts, status, access_from, access_until, generated_by_ai, generated_from_handout_id, generation_date, difficulty_level, tags, is_randomized) FROM stdin;
\.


--
-- Data for Name: quiz_attempt; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_attempt (attempt_id, quiz_id, student_id, attempt_number, started_at, completed_at, time_taken_seconds, score, percentage, passed, answers) FROM stdin;
\.


--
-- Data for Name: quiz_question; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quiz_question (question_id, quiz_id, question_text, question_type, options, correct_answer, points, difficulty, generated_from_text, question_order, tags) FROM stdin;
\.


--
-- Data for Name: security_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teacher; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: video_calls; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_attendance_id_seq', 11, true);


--
-- Name: call_participants_participant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.call_participants_participant_id_seq', 1, false);


--
-- Name: chat_message_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.chat_message_message_id_seq', 29, true);


--
-- Name: class_session_session_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.class_session_session_id_seq', 40, true);


--
-- Name: email_verification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.email_verification_id_seq', 54, true);


--
-- Name: enrollment_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.enrollment_enrollment_id_seq', 6, true);


--
-- Name: handout_handout_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.handout_handout_id_seq', 1, false);


--
-- Name: lecture_material_material_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.lecture_material_material_id_seq', 8, true);


--
-- Name: material_download_download_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.material_download_download_id_seq', 1, false);


--
-- Name: message_threads_thread_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.message_threads_thread_id_seq', 1, false);


--
-- Name: messages_message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.messages_message_id_seq', 1, false);


--
-- Name: quiz_attempt_attempt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_attempt_attempt_id_seq', 1, false);


--
-- Name: quiz_question_question_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_question_question_id_seq', 1, false);


--
-- Name: quiz_quiz_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.quiz_quiz_id_seq', 1, false);


--
-- Name: security_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.security_logs_id_seq', 22, true);


--
-- Name: video_calls_call_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_calls_call_id_seq', 182, true);


--
-- Name: admin admin_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_email_key UNIQUE (email);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (admin_id);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (attendance_id);


--
-- Name: call_participants call_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_participants
    ADD CONSTRAINT call_participants_pkey PRIMARY KEY (participant_id);


--
-- Name: chat_message chat_message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.chat_message
    ADD CONSTRAINT chat_message_pkey PRIMARY KEY (message_id);


--
-- Name: class_session class_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_session
    ADD CONSTRAINT class_session_pkey PRIMARY KEY (session_id);


--
-- Name: course course_course_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course
    ADD CONSTRAINT course_course_code_key UNIQUE (course_code);


--
-- Name: course course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course
    ADD CONSTRAINT course_pkey PRIMARY KEY (course_id);


--
-- Name: email_verification email_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification
    ADD CONSTRAINT email_verification_pkey PRIMARY KEY (id);


--
-- Name: enrollment enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT enrollment_pkey PRIMARY KEY (enrollment_id);


--
-- Name: handout handout_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.handout
    ADD CONSTRAINT handout_pkey PRIMARY KEY (handout_id);


--
-- Name: lecture_material lecture_material_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_material
    ADD CONSTRAINT lecture_material_pkey PRIMARY KEY (material_id);


--
-- Name: material_download material_download_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_download
    ADD CONSTRAINT material_download_pkey PRIMARY KEY (download_id);


--
-- Name: message_threads message_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_threads
    ADD CONSTRAINT message_threads_pkey PRIMARY KEY (thread_id);


--
-- Name: message_threads message_threads_user1_id_user1_type_user2_id_user2_type_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.message_threads
    ADD CONSTRAINT message_threads_user1_id_user1_type_user2_id_user2_type_key UNIQUE (user1_id, user1_type, user2_id, user2_type);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (message_id);


--
-- Name: quiz_attempt quiz_attempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_pkey PRIMARY KEY (attempt_id);


--
-- Name: quiz quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_pkey PRIMARY KEY (quiz_id);


--
-- Name: quiz_question quiz_question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_question
    ADD CONSTRAINT quiz_question_pkey PRIMARY KEY (question_id);


--
-- Name: security_logs security_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.security_logs
    ADD CONSTRAINT security_logs_pkey PRIMARY KEY (id);


--
-- Name: student student_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_email_key UNIQUE (email);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (student_id);


--
-- Name: teacher teacher_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher
    ADD CONSTRAINT teacher_email_key UNIQUE (email);


--
-- Name: teacher teacher_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teacher
    ADD CONSTRAINT teacher_pkey PRIMARY KEY (teacher_id);


--
-- Name: lecture_material unique_file_path; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_material
    ADD CONSTRAINT unique_file_path UNIQUE (file_path);


--
-- Name: quiz_question unique_question_order; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_question
    ADD CONSTRAINT unique_question_order UNIQUE (quiz_id, question_order) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: quiz_attempt unique_quiz_attempt; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT unique_quiz_attempt UNIQUE (quiz_id, student_id, attempt_number);


--
-- Name: attendance unique_session_student; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT unique_session_student UNIQUE (session_id, student_id);


--
-- Name: enrollment unique_student_course; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT unique_student_course UNIQUE (student_id, course_id);


--
-- Name: material_download unique_student_material_download; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_download
    ADD CONSTRAINT unique_student_material_download UNIQUE (material_id, student_id);


--
-- Name: video_calls video_calls_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_calls
    ADD CONSTRAINT video_calls_pkey PRIMARY KEY (call_id);


--
-- Name: video_calls video_calls_room_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_calls
    ADD CONSTRAINT video_calls_room_id_key UNIQUE (room_id);


--
-- Name: idx_call_participants_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_call_participants_user ON public.call_participants USING btree (user_id, user_type);


--
-- Name: idx_email_otp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_email_otp ON public.email_verification USING btree (email, created_at DESC);


--
-- Name: idx_material_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_active ON public.lecture_material USING btree (is_active);


--
-- Name: idx_material_course; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_course ON public.lecture_material USING btree (course_id);


--
-- Name: idx_material_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_order ON public.lecture_material USING btree (course_id, display_order);


--
-- Name: idx_material_session; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_session ON public.lecture_material USING btree (session_id);


--
-- Name: idx_material_tags; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_tags ON public.lecture_material USING gin (tags);


--
-- Name: idx_material_teacher; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_teacher ON public.lecture_material USING btree (uploaded_by);


--
-- Name: idx_material_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_type ON public.lecture_material USING btree (material_type);


--
-- Name: idx_material_uploaded; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_material_uploaded ON public.lecture_material USING btree (uploaded_date DESC);


--
-- Name: idx_messages_receiver; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_receiver ON public.messages USING btree (receiver_id, receiver_type);


--
-- Name: idx_messages_sender; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_sender ON public.messages USING btree (sender_id, sender_type);


--
-- Name: idx_messages_thread; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_messages_thread ON public.messages USING btree (sender_id, receiver_id, created_at);


--
-- Name: idx_video_calls_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_calls_status ON public.video_calls USING btree (status);


--
-- Name: call_participants call_participants_call_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.call_participants
    ADD CONSTRAINT call_participants_call_id_fkey FOREIGN KEY (call_id) REFERENCES public.video_calls(call_id) ON DELETE CASCADE;


--
-- Name: attendance fk_attendance_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT fk_attendance_session FOREIGN KEY (session_id) REFERENCES public.class_session(session_id) ON DELETE CASCADE;


--
-- Name: attendance fk_attendance_student; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT fk_attendance_student FOREIGN KEY (student_id) REFERENCES public.student(student_id) ON DELETE CASCADE;


--
-- Name: course fk_course_teacher; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course
    ADD CONSTRAINT fk_course_teacher FOREIGN KEY (teacher_id) REFERENCES public.teacher(teacher_id) ON DELETE RESTRICT;


--
-- Name: enrollment fk_enrollment_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT fk_enrollment_course FOREIGN KEY (course_id) REFERENCES public.course(course_id) ON DELETE CASCADE;


--
-- Name: enrollment fk_enrollment_student; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.enrollment
    ADD CONSTRAINT fk_enrollment_student FOREIGN KEY (student_id) REFERENCES public.student(student_id) ON DELETE CASCADE;


--
-- Name: handout fk_handout_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.handout
    ADD CONSTRAINT fk_handout_session FOREIGN KEY (session_id) REFERENCES public.class_session(session_id) ON DELETE CASCADE;


--
-- Name: lecture_material fk_material_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_material
    ADD CONSTRAINT fk_material_course FOREIGN KEY (course_id) REFERENCES public.course(course_id) ON DELETE CASCADE;


--
-- Name: lecture_material fk_material_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_material
    ADD CONSTRAINT fk_material_session FOREIGN KEY (session_id) REFERENCES public.class_session(session_id) ON DELETE SET NULL;


--
-- Name: lecture_material fk_material_teacher; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lecture_material
    ADD CONSTRAINT fk_material_teacher FOREIGN KEY (uploaded_by) REFERENCES public.teacher(teacher_id) ON DELETE CASCADE;


--
-- Name: quiz fk_quiz_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT fk_quiz_course FOREIGN KEY (course_id) REFERENCES public.course(course_id) ON DELETE CASCADE;


--
-- Name: quiz fk_quiz_session; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT fk_quiz_session FOREIGN KEY (session_id) REFERENCES public.class_session(session_id) ON DELETE SET NULL;


--
-- Name: class_session fk_session_course; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_session
    ADD CONSTRAINT fk_session_course FOREIGN KEY (course_id) REFERENCES public.course(course_id) ON DELETE CASCADE;


--
-- Name: handout handout_generated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.handout
    ADD CONSTRAINT handout_generated_by_fkey FOREIGN KEY (generated_by) REFERENCES public.teacher(teacher_id) ON DELETE SET NULL;


--
-- Name: handout handout_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.handout
    ADD CONSTRAINT handout_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES public.teacher(teacher_id) ON DELETE SET NULL;


--
-- Name: material_download material_download_material_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_download
    ADD CONSTRAINT material_download_material_id_fkey FOREIGN KEY (material_id) REFERENCES public.lecture_material(material_id) ON DELETE CASCADE;


--
-- Name: material_download material_download_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.material_download
    ADD CONSTRAINT material_download_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(student_id) ON DELETE CASCADE;


--
-- Name: quiz_attempt quiz_attempt_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quiz(quiz_id) ON DELETE CASCADE;


--
-- Name: quiz_attempt quiz_attempt_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_attempt
    ADD CONSTRAINT quiz_attempt_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(student_id) ON DELETE CASCADE;


--
-- Name: quiz quiz_generated_from_handout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz
    ADD CONSTRAINT quiz_generated_from_handout_id_fkey FOREIGN KEY (generated_from_handout_id) REFERENCES public.handout(handout_id) ON DELETE SET NULL;


--
-- Name: quiz_question quiz_question_quiz_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quiz_question
    ADD CONSTRAINT quiz_question_quiz_id_fkey FOREIGN KEY (quiz_id) REFERENCES public.quiz(quiz_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict d5cpiViu8XdNlyshbzrVuPSAoVa6EkzHHdVhcLorEIQ9RiE9x4ukEN7b7sefArA

